@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* ===== GLOBAL ===== */
:root {
  --text-1: italic 600 6rem/1 "DM Sans";
  --text-1-spacing: -2px;

  --text-2: normal 700 3.25rem/1.2 "Bricolage Grotesque";

  --text-3: normal 300 2rem/1 "DM Sans";

  --text-4: normal 700 1.75rem/1.2 "DM Sans";

  --text-5: normal 500 1.25rem/1.2 "DM Sans";

  --text-6: normal 500 1.125rem/1.2 "DM Sans";

  --text-7: normal 500 1rem/1.2 "DM Sans";

  --text-8: normal 500 0.9rem/1.2 "DM Sans";

  /* Neutral */
  --neutral-900: #02012c;
  --neutral-800: #262540;
  --neutral-700: #302f4a;
  --neutral-600: #3c3b5e;
  --neutral-300: #acacb7;
  --neutral-200: #d4d3d9;
  --neutral-0: #ffffff;

  /* Orange */
  --orange-500: #ff820a;

  /* Blue */
  --blue-500: #4658d9;
  --blue-700: #2b1b9c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--neutral-900);
  color: #ffffff;
  /* font-family: "DM Sans"; */
  min-height: 103vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* ===== HEADER ===== */
.header {
  width: 100%;
  margin: 1rem 0.5rem 3rem;
  padding: 0 1rem;
}

.header-container {
  max-width: 76rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2rem;
  width: auto;
}

.units-button {
  background: #1e244f;
  border: none;
  padding: 0.5rem 0.2rem;
  border-radius: 8px;
  color: var(--neutral-0);
  cursor: pointer;
}

/* ===== MAIN ===== */
.main {
  max-width: 76rem;
  margin: 1rem auto;
  display: grid;
  justify-content: center;
}

/* ===== SEARCH ===== */
.search-section {
  text-align: center;
  margin-bottom: 3rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.search-box {
  position: relative;
  display: flex;
  gap: 0.5rem;
}
.nf {
  margin: 6.25rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  gap: 1.5rem;
}
.nf a {
  color: burlywood;
}
.input-wrapper {
  position: relative;
  width: min(32.5rem, 94%);
}
.search-input {
  width: min(32.5rem, 100%);
  position: relative;
  flex: 1;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  /* border: 1px solid #444; */
  background: var(--neutral-800);
  color: var(--neutral-200);
  font: var(--text-5);
  height: 3.5rem;
  padding-left: 3rem;
  border-radius: 0.6rem;
  border: none;
  outline: none;
}
.search-box {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.searchIcon {
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}

.search-button {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  height: 3.5rem;
  font: var(--text-5);
  background: var(--blue-500);
  width: 94%;
  color: var(--neutral-0);
  cursor: pointer;
  max-width: 32.5rem;
}
.search-button:hover {
  background: var(--blue-700);
}
.search-input::placeholder {
  color: #bbb;
}

.dropdown-city {
  position: absolute;
  text-align: left;
  padding: 0.5rem;
  top: 100%;
  left: 0;
  width: min(26.25rem, 100%);
  margin-top: 0.5rem;
  background: var(--neutral-700);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.dropdown-city.loading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.dropdown-city.loading img {
  width: 1rem;
  height: 1rem;
  animation: spin 1s linear infinite;
}
.notFound {
  position: absolute;
  top: 150px;
  right: 30px;
  width: min(26.25rem, 100%);
  background-color: transparent;
  color: var(--neutral-0);
  font: var(--text-5);
  text-align: right;
}
.dropdown-item-city {
  padding: 0.5rem;
  color: var(--neutral-0);
  cursor: pointer;
}
.dropdown-item-city.active {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}
.dropdown-item-city:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}

.main-title {
  font: var(--text-2);
  font-weight: 700;
  margin-bottom: 4rem;
}

/* ===== GRID LAYOUT ===== */
.content-grid {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr;
  place-items: center;
  place-content: center;
  width: 100%;
}

/* Allow grid children to shrink */
.left-column,
.hourly-forecast {
  min-width: 0;
}

/* ===== LEFT COLUMN ===== */
.left-column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ===== WEATHER CARD ===== */
.weather-main {
  background-image: url("/assets/images/bg-today-small.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 17.875rem;
  width: 94%;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.weather-main.loading {
  background-color: var(--neutral-800);
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  position: relative;
}

.center img {
  animation: spin 1.2s linear infinite;
  z-index: 1;
}
.center span {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: var(--text-4);
  color: var(--neutral-300);
  z-index: 5;
  background-color: var(--neutral-800);
  padding-bottom: 1.75rem;
}

.left-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.city-name {
  font: var(--text-4);
  font-weight: 600;
}

.date {
  margin: 0.5rem 0 1.75rem 0;
  font: var(--text-6);
  color: var(--neutral-0);
}

.temperature {
  font: var(--text-2);
  display: flex;
  align-items: center;
}
.temperature img {
  height: 100px;
  width: auto;
}
.current-weather {
  display: grid;
  gap: 2rem;
  place-items: center;
  width: 100%;
}

/* ===== DETAILS ===== */
.weather-details {
  display: grid;
  display: grid;
  width: 94%;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.detail-card {
  background: var(--neutral-800);
  padding: 0.8rem;
  border-radius: 15px;
  min-width: 0;
  width: 100%;
  height: 7.365rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.detail-title {
  font: var(--text-5);
  opacity: 0.7;
}

.detail-value {
  font: var(--text-5);
  font-weight: 600;
}

/* ===== DAILY ===== */
.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
  font: var(--text-5);
  color: var(--neutral-0);
  padding-left: 0.75rem;
}

.daily-cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
  min-width: 0;
  align-items: center;
}

.daily-card {
  background: var(--neutral-800);
  padding: 1rem;
  border-radius: 15px;
  flex: 0 0 90px; /* fixed width but shrink-safe */
  text-align: center;
  width: 6.25rem;
  height: 10rem;
}

.day {
  margin-bottom: 10px;
  font: var(--text-6);
}

.weather-icon {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.day-temp {
  width: 100%;
  font: var(--text-7);
  white-space: pre;
  overflow-wrap: break-word;

  /* transform: translateX(-3px); */
}

/* ===== HOURLY ===== */
/* ===== HOURLY CARD ===== */
.hourly-forecast {
  background: var(--neutral-800);
  padding: 0px;
  border-radius: 25px;
  height: fit-content;
  min-width: 0;
  height: 43.5rem;
  overflow: hidden; /* IMPORTANT */
  width: 100%;
  max-width: 45rem;
}

/* scroll container */
.hourly-scroll {
  max-height: 43.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px;
  width: 100%;
  max-width: 45rem;
}

/* list spacing */
.hourly-list {
  margin-top: 1rem;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
}
.hourly-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.hourly-scroll::-webkit-scrollbar {
  width: 6px;
}

.hourly-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.hourly-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.hourly-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
}
.hour-item {
  display: flex;
  font: var(--text-5);
  justify-content: space-between;
  padding: 1.25rem 1rem;
  height: 60px;
  min-width: 0;
  background-color: var(--neutral-700);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.hour-item:last-child {
  border-bottom: none;
}

.hour-time {
  display: flex;
  opacity: 0.8;
}
.hour-item img {
  height: 1.75rem;
}
.left {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.hour-temp {
  font-weight: 600;
}
.hour-icon img {
  height: 1.75rem;
}
.dropdown-container {
  width: 6.75rem;
  position: relative;
}

.dropdown-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #cbd5e1;
  font-size: 0.9rem;
}

.dropdown-button {
  width: 7.625rem;
  background-color: var(--neutral-700);
  color: var(--neutral-0);
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.4rem;
  font: var(--text-7);
  transition: background 0.2s ease;
}

.dropdown-button:hover {
  background-color: #4b5563;
}

.arrow {
  transition: transform 0.2s ease;
  font-size: 0.75rem;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  right: -1rem;
  width: fit-content;
  background-color: #374151;
  border-radius: 14px;
  margin-top: 0.5rem;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  /* z-index: 100; */
}

.dropdown-item {
  width: 100%;
  padding: 0.5rem 1.5rem;
  background: none;
  border: none;
  text-align: left;
  color: #d1d5db;
  font: var(--text-7);
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-item:hover {
  background-color: #4b5563;
  color: var(--neutral-0);
}

.dropdown-item.active {
  background-color: #4b5563;
  color: var(--neutral-0);
}

.units {
  position: relative;
}

.units-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font: var(--text-7);
  text-align: center;
  background: var(--neutral-800);
  color: var(--neutral-0);

  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  width: 5.565rem;
  cursor: pointer;
}

.units-panel {
  width: 13.125rem;
  background: #2b2d49;
  border-radius: 16px;
  padding: 0.5rem 0.8rem;
  color: var(--neutral-0);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 100;
}

.units-header {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 0.9rem;
}
.units-header:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.units-label {
  font: var(--text-8);
  margin-bottom: 8px;
  color: var(--neutral-300);
}

.units-option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
  border-radius: 10px;

  font: var(--text-7);
}
.units-option:hover {
  cursor: pointer;
}
.units-option.active {
  background: rgba(255, 255, 255, 0.08);
}
.units-option span {
  opacity: 0.9;
}

.units-divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin: 1rem 0;
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  min-height: 60vh;
}
.error h3 {
  font: var(--text-2);
}
.error p {
  font: var(--text-5);
}
.error button {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--neutral-800);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--neutral-0);
  font: var(--text-7);
  cursor: pointer;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 25rem) {
  .temperature {
    font: var(--text-1);
  }

  .daily-cards {
    grid-template-columns: auto auto auto;
  }
  .daily-card {
    width: 6.25rem;
  }
  .detail-card {
    padding: 1.125rem;
  }
  .detail-title {
    font: var(--text-5);
    opacity: 0.7;
  }

  .detail-value {
    font: var(--text-3);
    font-weight: 600;
  }
}

@media (min-width: 44rem) {
  .search-box {
    flex-direction: row;
  }
  .units-btn {
    width: 7.435rem;
    padding: 0.75rem 0.6rem;
  }
  .main {
    margin: 1.5rem auto;
  }
  .header {
    margin: 1.5rem auto;
  }
  .notFound {
    top: 140%;
    left: auto;
    right: 40px;
    font: var(--text-4);
  }
  .search-button {
    width: 7.125rem;
  }

  .weather-main {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.75rem;
  }
  .weather-details {
    grid-template-columns: auto auto auto;
  }
  .detail-card {
    width: 10.75rem;
  }
  .daily-cards {
    grid-template-columns: auto auto auto auto auto;
  }
}
/* ========================= */
/* TABLET ≥768px */
/* ========================= */
@media (min-width: 48rem) {
  .weather-main {
    background-image: url("/assets/images/bg-today-large.svg");
    width: 45rem;
  }
  .daily-cards {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
  .daily-card {
    width: 5.56rem;
  }
  .search-input,
  .input-wrapper {
    width: 37rem;
  }
  .detail-card {
    width: 10rem;
    height: 7.375rem;
  }
  .weather-details {
    grid-template-columns: auto auto auto auto;
  }
}
/* ========================= */
/* DESKTOP ≥1024px */
/* ========================= */
@media (min-width: 75.5rem) {
  .content-grid {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    align-items: start;
    width: 76rem;
  }
  .weather-main {
    width: 50rem;
  }
  .left-column {
    min-width: 0;
  }

  .daily-cards {
    overflow: visible;
  }

  .hourly-forecast {
    /* position: sticky; */
    top: 2.5rem;
    width: 24rem;
  }
  .hourly-scroll {
    width: 24rem;
  }
  .daily-cards {
    grid-template-columns: repeat(7, 1fr);
  }
  .daily-card {
    width: 6.25rem;
  }
  .weather-details {
    grid-template-columns: auto auto auto auto;
  }
  .detail-card {
    width: 11.375rem;
  }
  .search-input,
  .input-wrapper {
    width: 32.5rem;
  }
}
